<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
        <span> | <a routerLink="/requests/list">Return to list...</a></span>
    </div>
</div>
<p *ngIf='!request'>Loading...</p>
<table *ngIf='request' class="table table-striped">
    <tr>
        <th><a>Id</a></th>
        <th><a>Description</a></th>
        <th><a>Status</a></th>
        <th><a>Total</a></th>
    </tr>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>${{request.total}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title2}} </span>
        <span><a routerLink='/line-items/create/{{request.id}}'>
                <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
        </span>
    </div>
</div>
<table *ngIf='lineItem' class="table table-striped">
    <tr>
        <th><a>Id</a></th>
        <th><a>Product</a></th>
        <th><a>Quantity</a></th>
        <th><a>Price</a></th>
        <th><a>Line Total</a></th>
        <th><a>Action</a></th>
    </tr>
<p *ngIf='!lineItem || lineItem.length == 0'><td colspan="7" style="background-color:lightcoral;"> No line items yet. Please create a new one!</td></p>
    <tbody>
        <tr *ngFor="let l of lineItem">
            <td>{{l.id}}</td>
            <td>{{l.product.name}}</td>
            <td>{{l.quantity}}</td>
            <td>{{l.product.price | currency}}</td>
            <td>{{l.quantity * l.product.price | currency}}</td>
            <td><a routerLink='/line-items/edit/{{l.id}}'><img src='assets/pencil-icon.png' width='20' height='20'
                        title='Edit'></a>
                |
                <span> <a (click)="delete(l.id)" onclick="location.reload();"><img src='assets/delete.jpg' width='20' height='20'
                    title='Delete'></a></span>
            </td>
        </tr>
    </tbody>
</table>
<br>
<span><button (click)="submitForReview()" class="btn btn-sm btn-primary">Submit For Review</button></span>