<app-menu></app-menu>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title}} </span>
        <span> | <a routerLink="/requests/review">Return to list...</a></span>
    </div>
</div>
<p *ngIf='!request'>Loading...</p>
<table *ngIf='request' class="table table-striped">
    <tr>
        <th><a>Id</a></th>
        <th><a>Description</a></th>
        <th><a>Status</a></th>
        <th><a>Total</a></th>
    </tr>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>${{request.total}}</td>
        </tr>
    </tbody>
</table>
<br>
<br>
<div class='component-content'>
    <div class='lefthalf'>
        <span class='component-title'>{{title2}} </span>
    </div>
</div>
<p *ngIf='!lineItem'>No line items yet. Please cerate a new one!</p>
<table *ngIf='lineItem' class="table table-striped">
    <tr>
        <th><a>Id</a></th>
        <th><a>Product</a></th>
        <th><a>Quantity</a></th>
        <th><a>Price</a></th>
        <th><a>Line Total</a></th>
    </tr>
    <tbody>
        <tr *ngFor="let l of lineItem">
            <td>{{l.id}}</td>
            <td>{{l.product.name}}</td>
            <td>{{l.quantity}}</td>
            <td>{{l.product.price | currency}}</td>
            <td>{{l.quantity * l.product.price | currency}}</td>
        </tr>
    </tbody>
</table>
<br>
<span><button (click)="approve()" class="btn btn-sm btn-primary">Approve</button></span>
|
<span><button (click)="reject()" class="btn btn-sm btn-primary">Reject</button></span>
<input type="text">

